node_modules/
src/node_modules/
src/paged-list.config.ngsummary.json
src/paged-list.module.ngfactory.ts
src/paged-list.module.ngsummary.json
src/paged-list.service.ngsummary.json
src/dist/bundles/
src/dist/index.*
src/dist/paged-list*
